*
!Dockerfile
!requirements.lock
!app/
!app/*.py
!web/
!web/*.html
!web/*.css
!web/*.js
!web/*.svg
!scripts/
!scripts/download_model.py
!LICENSE
!NOTICE
!THIRD_PARTY_NOTICES.md
!scripts/smoke_languages.py
